body { 
    background-color: black ; 
}

.logo{ 
    margin-top: -30px; 
  
}

.hello{ 
    color: white; 
    margin-top: -100px; 
    margin-left: 115px; 
    font-size: 30px; 
}

.flame { 
    margin-left: 220px; 
    position: absolute; 
    margin-top: -106px; 
    
}